.app {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;

  margin-top: 20px;
}

.app > *:not(:first-child) {
  margin-top: 10px;
}

.attributes {
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
}

.buttons > *:not(:first-child) {
  margin-left: 5px;
}