version: "3.9"

services:
  postgres:
    image: postgres:14.2
    env_file:
      - ./k8s/.env
    ports:
      - 5432:5432
    volumes:
      - pg-data:/var/lib/postgresql/data

volumes:
  pg-data:
