.calendar {
  --border-color: rgba(0, 0, 0, .2);
  --border-size: 2px;
  --border-type: solid;

  margin: 5px;
  width: 300px;

  text-align: center;

  border: var(--border-size) var(--border-type) var(--border-color);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 5px;

  border-bottom: var(--border-size) var(--border-type) var(--border-color);

  > button {
    border: none;
    border-radius: 0;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      opacity: .75;
    }

    &:active {
      opacity: .5;
    } 
  }
}

.main {
  padding: 10px;
}

.week {
  display: flex;
  justify-content: space-between;

  margin-bottom: 10px;
}

.days {
  display: flex;
  flex-wrap: wrap;

  > .day {
    padding: 5px 0;

    cursor: pointer;

    &:hover {
      opacity: .5;
    }
  }
}

.in-target-month {
  color: red;
}

.day {
  width: calc(100% / 7);
}

.footer {
  padding: 5px;

  border-top: var(--border-size) var(--border-type) var(--border-color);
}